@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Thin.ttf);
	font-weight: 100;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Light.ttf);
	font-weight: 200;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Black.ttf);
	font-weight: 900;
}

body{
	font-family: Roboto;
	margin: 0px;
	background-color: black;
}
#fc-container {
	margin:0 auto;
}
#fc-container p {
	margin:0;
}
#fc-content .fc-element {
	position:absolute;
}
#fc-container .fc-image {
	position:absolute;
	top:0;
	display:block;
	width:100% !important;
}
#fc-container .fc-text p { white-space: nowrap; }
#fc-content {
	position:relative;
	overflow:hidden;
}
#fc-content p {
	font-weight:700;
	line-height:91px;
	height:auto;
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
	letter-spacing:0em;
	font-size:76px;
	text-align:left;
	color:rgb(255,255,255);
	text-transform:none;
	padding-bottom:0;
	padding-top:0;
	mix-blend-mode:normal;
	font-style:normal;
	position:static;
}
#fc-content .fc-menu-item {
	font-weight:200;
	line-height:24px;
	height:24px;
	letter-spacing:0.049em;
	font-size:1.3vw;	
}
.fc-menu-item a {
	text-decoration: none;
	color: inherit;
}
.fc-menu-item p {
	text-decoration: none;
}
#fc-content .fc-selected{
	font-weight: bold;
}
#fc-content .fc-hover-menu-item {
	background-color: #99bfcf;
	position: relative;
	width: 16vw;
	color: black;
	font-weight:200;
	line-height:24px;
	height:2vw;
	letter-spacing:0.049em;
	font-size:1.3vw;
	padding-left: 5px;
	padding-top: 8px;
	padding-bottom: 4px;
	z-index: 1;
	display: none;
	opacity: 0.97;
}
#fc-content .fc-company:hover .fc-hover-menu-item {
	display: block;
}
#fc-content .fc-product:hover .fc-hover-menu-item {
	display: block;
}
#fc-content .fc-element1 {
	font-weight:100;
	line-height:132px;
	height:132px;
	font-size:7.3vw;
}
#fc-content .fc-element2 {
	font-weight:900;
	line-height:246px;
	height:246px;
	font-size:13.6vw;
}
#fc-content .fc-element3 {
	height:91px;
	font-size: 5vw;
}


