@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Thin.ttf);
	font-weight: 100;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Light.ttf);
	font-weight: 200;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Bold.ttf);
	font-weight: bold;
}
@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto-Black.ttf);
	font-weight: 900;
}

body{
	overflow: auto;
	font-family: Roboto;
	margin: 0px;
	background-color: black;
}
#fc-content .fc-element {
	position:absolute;
}
#fc-content .fc-image {
	position:absolute;
	top:0;
	display:block;
	width:100vw !important;
	height: 56.25vw;
	background-repeat: no-repeat;
  	background-size: cover;
}
#fc-content-img-index{
	background-image: url("./img/fc_1.jpg");
}
#fc-content-img-about{
	background-image: url("./img/fc_2.jpg");
}
#fc-content-img-partners{
	background-image: url("./img/fc_3.jpg");
}
#fc-content-img-product{
	background-image: url("./img/fc_4.jpg");
	min-height: 100vw;
}
#fc-content-img-data{
	background-image: url("./img/fc_5.jpg");
}
#fc-content-img-certificates{
	background-image: url("./img/fc_5.jpg");
}
#fc-content-img-papers{
	background-image: url("./img/fc_5.jpg");
}
#fc-content-img-gallery{
	background-image: url("./img/fc_6.jpg");
}
#fc-content-img-contact{
	background-image: url("./img/fc_7.jpg");
}


#content .fc-text p { white-space: nowrap; }
#fc-content {
	margin: 0;
	position:relative;
	min-width: 100vw;
	min-height: 100vh;
}
#fc-content p {
	opacity:1;
	text-align:left;
	color:rgb(255,255,255);
	text-transform:none;
	padding-bottom:0;
	padding-top:0;
	mix-blend-mode:normal;
	font-style:normal;
	position:static;
}
#logo{
	position: absolute;
	width:15vw;
	top: 1.5vw;
	left: 3vw;
	z-index: 2;

}
.fc-company{
	top:6.5vw;
	margin-top:-13.3px;
	left:22.2098%;
	width:15vw;
}
.fc-product{
	top:6.5vw;
	margin-top:-13.3px;
	left:39.1775%;
	width:118px;
}
.fc-gallery{
	top:6.5vw;
	margin-top:-13.3px;
	left:56.1452%;
	width:112px;
}
.fc-contact{
	top:6.5vw;
	margin-top:-13.3px;
	left:73.1129%;
	width:116px;
}
#fc-content .fc-menu-item {
	font-weight:200;
	line-height:24px;
	height:24px;
	letter-spacing:0.049em;
	font-size:1.3vw;	
}
.fc-menu-item a {
	text-decoration: none;
	color: inherit;
}
.fc-menu-item p {
	text-decoration: none;
}
#fc-content .fc-selected{
	font-weight: bold;
}
#fc-content .fc-hover-menu-item {
	background-color: #99bfcf;
	position: relative;
	width: 16vw;
	color: black;
	font-weight:200;
	line-height:2vw;
	height:2vw;
	letter-spacing:0.049em;
	font-size:1.3vw;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	z-index: 2;
	display: none;
	opacity: 0.97;
	margin: 0vw 0vw 0.15vw 0vw;
}
#fc-content .fc-company:hover .fc-hover-menu-item {
	display: block;
}
#fc-content .fc-company:hover ~ #fc-content-text-index,#fc-content .fc-company:hover ~ #fc-content-text-product, #fc-content .fc-company:hover ~ .fc-data-grid{
	pointer-events: none;
}
#fc-content .fc-product:hover .fc-hover-menu-item {
	display: block;
}
#fc-content .fc-product:hover ~ #fc-content-text-index,#fc-content .fc-product:hover ~ #fc-content-text-product, #fc-content .fc-product:hover ~ .fc-data-grid{
	pointer-events: none;
}
#fc-content-text-index{
	top: 10vw;
	left: 22vw;
}
#fc-content .fc-element1 {
	font-weight:100;
	height:132px;
	font-size:7.3vw;
}
#fc-content .fc-element2 {
	font-weight:900;
	line-height:8vw;
	height:246px;
	font-size:13.6vw;
}
#fc-content .fc-element3 {
	height:91px;
	font-size: 5vw;
	font-weight: 700;
}
#forte-crete-about-text p{
	font-size: 1.4vw;
	color: black;
	line-height: normal;
	font-weight: 400;
	height:20%;
}
#forte-crete-about-text{
	top:22vw;
	left:22vw;
	width:45vw;
}
#fc-content-text-product{
	display: block;
	top: 15vw;
	left: 22vw;
	width: 60vw;
}


#fc-content-text-product p{
	color: black;
	font-size: 1.3vw;
}


#fc-product-tests img {
	float: left;
	width: 68%;
}

#fc-product-tests p {
	float: right;
	width: 30%;
}

.fc-data-grid {
	position: absolute;
	top: 9vw;
	display: grid;
	grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
	width: 100vw;
	min-height: 25vw;
}

.fc-data-grid img {
	z-index: 1;
	width: 20vw;
	height: 23vw;
	-webkit-filter: grayscale(100%);
  	filter: grayscale(100%);
}

.fc-data-grid div {
	background-color: #0086a3;
	color: white;
	font-size: 2vw;
	text-align: center;
	padding-top: 50%;
}
.fc-data-grid .fc-2l-center{
	padding-top: 45%;
}
.fc-data-grid .fc-3l-center{
	padding-top: 40%;
}
.fc-data-grid .fc-4l-center{
	padding-top: 35%;
}


.fc-contact-name-label { grid-area: nl; }
.fc-contact-address-label { grid-area: al; }
.fc-contact-address-value { grid-area: av; }
.fc-contact-tel-label { grid-area: tl; }
.fc-contact-tel-value { grid-area: tv; }
.fc-contact-email-label { grid-area: el; }
.fc-contact-email-value { grid-area: ev; }
.fc-contact-web-label { grid-area: wl; }
.fc-contact-web-value { grid-area: wv; }
.fc-contact-coordinates-label { grid-area: cl; }
.fc-contact-coordinates-value { grid-area: cv; }

.fc-contact-grid{
	font-size: 1.4vw;
	line-height: 2.7vw;
	color: white;
	z-index: 1;
	display: block;
	position: absolute;
	top: 17vw;
	left: 19vw;
	width: 60vw;
	display: grid;
  	grid-template-areas:
    'nl nl nl'
    'al av av'
    'tl tv tv'
    'el ev ev'
    'wl wv wv'
    'cl cv cv';
}
.fc-triangle-map {
    width: 30%;
    padding-bottom: 21.27%; /* = width / 1.41 */
    position: relative;
}

.fc-triangle-map:before {
    z-index: 2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: #0079c600;
    transform-origin: 100% 0%;
    transform: rotate(315deg);
    cursor: pointer;
}

.fc-special-contact-content {
	overflow: hidden;
}

@media (max-width: 600px){
	#menu_icon{
		position: absolute;
		left: 75vw;
		top: 4vh;
		height: 4vh;

	}
	.fc-element.fc-menu-item {
    	display: none;
	}
	#logo {
		position: absolute;
		width: 35vw;
		top: 5vw;
		left: 10vw;
		z-index: 2;
	}
	#fc-content-img-index {
		background-image: url("./img/fc_mobile_1.jpg");
	}
	#fc-content .fc-image {
		width: 100vw;
		height: 100vh;
		background-size: cover;
	}
	#fc-content-text-index{
	    top: 27vh;
    	left: 12vw;
    }
	
	#fc-content .fc-element1{
		font-size: 6.4vh;
	}
	#fc-content .fc-element2{
		font-size: 12vh;
		line-height: 8vh;
	}
	#fc-content .fc-element3{
		font-size: 4.8vh;
	}
	/*OVDE POCINJE PONASANJE ZA MENU ICON CLICK */
	#fc-content .fc-element.fc-menu-item.fc-text, #fc-content .fc-menu-item {
    	display: none;
    	width: 100vw;
    	background-color: black;
    	color: white;
    	height: 7vh !important;
    	left: 0vw;
    	text-align: center;
    	margin: 0vh 0vh -0.15vh 0vh;
    	padding-left: 0px;
    	padding-bottom: 0px;
    	padding-top: 0px;
    	z-index: 10;
    	line-height: 7vh;
    	font-size: 2vh !important;
    	font-weight: normal;
    	text-transform: uppercase;
	}
	.fc-company{
		top: 10vh;
	}
	.fc-product{
		top: 30vh;
	}
	.fc-gallery{
		top: 64vh;
	}
	.fc-contact {
		top: 70.5vh;
	}
	#fc-content p{
		text-align: center;
	}
	/*OVDE SE ZAVRSAVA PONASANJE ZA MENU ICON CLICK */
}

